* { box-sizing: border-box; }

html,
body {
    background: #f3f3f3;
    font-family: Platform;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

#controls {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 50%;
    text-align: right;
}
    #delay-holder input {
        width: 50px;
    }

#chart-holder {
    height: 750px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
}
